<form (ngSubmit)="onSubmit()" #form="ngForm" class="row g-3">
  <div class="col-md-6">
    <input class="form-control" name="firstName" [(ngModel)]="localContact.fName" placeholder="First Name" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" name="lastName" [(ngModel)]="localContact.lName" placeholder="Last Name" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" name="phone" [(ngModel)]="localContact.phoneNumber" placeholder="Phone Number" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" name="email" [(ngModel)]="localContact.email" placeholder="Email Address" required />
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">
      {{ isEditMode ? 'Update Contact' : 'Add Contact' }}
    </button>
  </div>
  
</form>