<h3 class="mb-3">Add New Contact</h3>
<form (ngSubmit)="onSubmit()" class="row g-3">
  <div class="col-md-6">
    <input class="form-control" [(ngModel)]="contact.fName" name="fName" placeholder="First Name" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" [(ngModel)]="contact.lName" name="lName" placeholder="Last Name" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" [(ngModel)]="contact.phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
  </div>
  <div class="col-md-6">
    <input class="form-control" [(ngModel)]="contact.email" name="email" placeholder="Email Address" required />
  </div>
  <div class="col-12">
    <button class="btn btn-success" type="submit">Add Contact</button>
  </div>
</form>